<link href="__CDN__/assets/css/search.css" rel="stylesheet">
<style type="text/css">
	body{
		padding-top: 0px;
	}
	.bordertable td{
		border:3px solid white;
	}
	main.content {
	  min-height: calc(100vh - 75px);
	}
</style>
<div id="content-container" class="container">
    <div class="user-section">
		<div class="login_body">
			<div class="login_container_frame">
				
				<div class="login_container">
					<div class="loginDiv">
						
						<div>
							<table width="100%" border="0" cellspacing="0" cellpadding="0">
								<tbody><tr><td height="10" colspan="3"></td></tr>
								<tr>
									<td width="3%">&nbsp;</td>
									<td align="left" valign="top">
										<table width="100%" border="0" cellspacing="0" cellpadding="0">
											
											 <tbody><tr style="display:;">
											   <td height="10">
												<table width="100%" border="0" cellspacing="3" cellpadding="0">
													<tbody>
													<tr>
														<td height="25">				                  	</td>
													</tr>
													<tr>
														<td class="colheadline">
															<div class="sheadline">
																快件追踪查询结果，订单号： {$orderid}			                        	</div>			                        </td>
													</tr>
													<tr>
														<td height="10">				                  	</td>
													</tr>
													
													<tr style="display:none;">
														<td>
															<table width="100%" border="0" cellspacing="0" cellpadding="0" style="display:none;">
																<tbody><tr>
																	<td class="colheadline">
																		<div class="sheadline">
																			快件状态&gt;&gt;					                        		</div>	                            				</td>
																</tr>
															</tbody></table>			                        </td>
													</tr>
												</tbody></table>	                       </td>
											 </tr>
											<tr>
											  <td valign="top"><div width="100%">
												  
												</div>
												
												{eq name="$total" value="0"}
													<table class="bordertable" width="100%" border="0" cellspacing="3" cellpadding="0">
														<tbody>
															<tr>
															  <td align="center" bgcolor="#e2e2e2" class="atxt1"> 很抱歉，您查询的单号并不存在，请查证后再次输入。 </td>
															</tr>
														</tbody>
													</table>
												{else /}
													<table class="bordertable" width="100%" border="0" cellspacing="3" cellpadding="0">
														<tbody>
														<tr class="tableColor21">
														  <td width="20%" class="tdtext-color"><strong>日期</strong></td>
														  <!--  <td width="4%" class="tdtext-color"><p><strong>时间</strong></p></td>-->
														  <td class="tdtext-color"><strong>快件状态</strong></td>
														  <!--  <td width="5%" class="tdtext-color"><strong>当前地点</strong></td>-->
														  
														</tr>
													
													{if condition="isset($inlanderror)"}
														<tr bgcolor="#e2e2e2" height="30">
															<td align="left" colspan="2"> 国内快递查询失败，订单号： {$inlandorderid}</td>
														</tr>
														<tr bgcolor="#e2e2e2" height="30">
														  <td align="center" colspan="2"> {$inlanderror} </td>
														</tr>
													{else /}
														{if condition="isset($inland)"}
															{volist name="$inland" id="detail"}
																<tr>
																  <td align="center" bgcolor="#e2e2e2">{$detail->ftime}</td>
																  <td align="center" bgcolor="#e2e2e2" class="atxt1"> {$detail->context} </td>
																</tr>
															{/volist}	
														{/if}
													{/if}
													{volist name="$details" id="data"}
														<tr>
														  <td align="center" bgcolor="#e2e2e2">{$data["delivertimestr"]}</td>
														  <td align="center" bgcolor="#e2e2e2" class="atxt1"> {$data["content"]} </td>
														</tr>
													{/volist}
														</tbody>
													</table>
												{/eq}
												
												<table width="100%" border="0" cellpadding="0" cellspacing="0" style="margin-top:50px; display:none;">
												<tbody><tr>
												  <td align="center"><img src="images/in/wx2.jpg" width="180" height="180"></td>
												</tr>
												<tr>
												  <td height="30" align="center"><span class="unnamed6 unnamed6">关注---，随时收听最新优惠政策！</span></td>
												</tr>
											  </tbody></table>
											  </td>
											</tr>
										</tbody></table>
									</td>
									<td width="3%">&nbsp;</td>
								</tr>				 
							</tbody></table>
						</div>
					</div>
					<div class="login_buttom" style="margin-top:80px;">
					
						
					</div>
				</div>
			</div>

		</div>
	</div>
</div>