{layout name="common/layout" /}
<div class="jumbotron jumbotron-fluids" style="background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url({cms:channel name='image' /});">
        <div class="container text-center py-5">
            <h5 class="text-white display-3">{cms:config name="cms.title"/}</h5>
            <div class="d-inline-flex align-items-center text-white">
               {cms:breadcrumb id="item"}
			    <p class="m-0"><a class="text-white" href="{$item.url}">{$item.name}</a></p> 
                 <i class="fa fa-circle px-3"></i>				
                {/cms:breadcrumb}
            </div>
        </div>
</div>
<div class="container" id="content-container">
	
    
   

    <div class="row">

        <aside class="col-xs-12 col-sm-3">
            {include file="common/sidebar_knowledge" /}
        </aside>
		
        <main class="col-xs-12 col-sm-9">
            <div class="card">
                <div class="card-header">
                     <h3 class="card-title"> 
                        <span>列表</span>
                        <!-- <div class="more"> -->
                            <!-- <ul class="list-unstyled list-inline category-order clearfix"> -->
                              
                                <!-- {cms:pageorder id="order"} -->
                                <!-- <li><a href="{$order.url}" class="{$order.active?'active':''}">{$order.title}</a></li> -->
                                <!-- {/cms:pageorder} -->
                              
                            <!-- </ul> -->
                        <!-- </div> -->
                    </h3> 
                </div>
				<style>
				
				</style>
                <div class="card-body py-0">
                    <div class="article-list" style="padding:20px 0 20px 0;">

                        <!-- S 列表 -->
                        {cms:pagelist id="item" type="sons" channel="$__CHANNEL__.id"}
                        {include file="common/news_item"}
                        {/cms:pagelist}
                        <!-- E 列表 -->

                        {/* 普通分页 */ }
                        {if true}
                            <!-- S 分页栏 -->
                            <div class="text-center pager">
                                {cms:pageinfo type="full" /}
                            </div>
                            <!-- E 分页栏 -->
                            {if $__PAGELIST__->isEmpty()}
                            <div class="loadmore loadmore-line loadmore-nodata"><span class="loadmore-tips">暂无数据</span></div>
                            {/if}
                        {/if}

                    </div>
                </div>
            </div>
        </main>
    </div>
</div>
